<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>

        .notification {
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 10px;
            background-color: #214252;
            color: #fff;
            border-radius: 5px;
            display: none; /* Ẩn phần tử ban đầu */
        }
 
        .product-info {
            width: -webkit-fill-available; /* Đặt kích thước cố định cho phần product-info */
            overflow: hidden; /* Ẩn nội dung vượt ra ngoài */
        }

        .category {
            width: auto;
            display: -webkit-inline-box;
        }

        .reading-time {
            color: #b3b3b3;
        }

        .date.createdAt {
            color: #b3b3b3;
        }

        .dash {
            color: #b3b3b3;
        }
        .category-reading-time {
            width: 494px;
            display: -webkit-inline-box;
        }


        .username {
            margin-left: 9px;
            font-weight: 600;
            color: black;/* Đặt margin bên trái của tên người dùng */
        }
        .avatar-img {
            width: 2.5rem; /* Kích thước của khung hình */
            height: 2.5rem;
            border-radius: 50%; /* Tạo khung hình tròn */
            object-fit: cover; /* Hình ảnh vừa với kích thước của khung hình */
        }
        .titleLink {
           
            margin-top: 10px;
            max-width: 500px;
            overflow: hidden;       
            margin-bottom: 5px; /* Khoảng cách dưới của title */
            font-weight: 600; /* In đậm title */
            font-size: 20px; /* Kích thước font nhỏ hơn */
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Số dòng tối đa */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000000;
        }

        .posts-entry .blog-entry h2 a, .posts-entry .blog-entry .h2 a {
            color: black;
        }

            /* Định dạng text trong title */
         

        .posts-entry .blog-entry-search-item .img-link {
            width: 300px; /* Đặt chiều rộng là 200px */
            height: 170px; /* Đặt chiều cao là 200px */
            overflow: hidden; /* Ẩn phần của hình ảnh vượt quá kích thước đã đặt */
        }

            .posts-entry .blog-entry-search-item .img-link img {
                width: 100%; /* Hình ảnh sẽ tự động co dãn để vừa với kích thước đã đặt */
                height: 100%; /* Đảm bảo tỷ lệ hình ảnh không bị biến dạng */
                object-fit: cover; /* Hình ảnh sẽ bị kéo ra để vừa với kích thước đã đặt */
                object-position: center; /* Đảm bảo hình ảnh luôn được canh giữa */
                border-radius: 0; /* Xóa bo góc nếu có */
            }

    </style>
</head>
<body>
    <div id="notification" class="notification"></div>

    <div class="hero overlay inner-page bg-primary py-5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center pt-5">
                <div class="col-lg-6">
                    <h1 class="heading text-white mb-3" data-aos="fade-up">Blog</h1>
                </div>
            </div>
        </div>
    </div>
 

    <div class="section search-result-wrap">
        <div class="container">

            <div class="row posts-entry">
                <div class="col-lg-8" id="productsContainer">
                    <!-- Sẽ thêm các sản phẩm vào đây -->

                </div>
                

                <div class="col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap mb-4">
                        <form action="#" class="sidebar-search-form">
                            <span class="bi-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </form>
                    </div>
                    <div class="sidebar-box">
                        <h3 class="heading">Danh Mục Blog</h3>
                        <ul class="categories"></ul>
                    </div>
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <h3 class="heading">Popular Posts</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="images/img_1_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                               @*  <li>
                                    <a href="">
                                        <img src="images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li> *@
                            </ul>
                        </div>
                    </div>
                    <!-- END sidebar-box -->

                   

                    
                    <!-- END sidebar-box -->

                    <div class="sidebar-box">
                        <h3 class="heading">Tags</h3>
                        <ul class="tags">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Freelancing</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Freelancing</a></li>
                        </ul>
                    </div>
                </div>
               
                    
             

            </div>
            <div id="pagination">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" id="prevPage">«</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="1">1</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="2">2</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="3">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="4">4</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="5">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="6">6</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="7">7</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="8">8</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="9">9</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="10">10</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="nextPage">»</a></li>
                </ul>
            </div>

        </div>
    </div>

    @Html.Partial("_FooterPartial")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


        <script>
        $(document).ready(function () {
            var currentPage = 1; // Current page number
            var itemsPerPage = 7; // Number of items per page
            var allProducts = []; // List of all blog posts
            var savedBlogIds = []; // List of saved blog post IDs
            var userId = ''; // User ID
            var categoriesMap = {}; // Map of categories
            var allProductsOriginal = []; // Original list of all blog posts
            var totalPages = 1; // Total number of pages
            var token = localStorage.getItem('token'); // Retrieve token from localStorage

            // Check if the token exists
            if (token) {
                var tokenPayload = JSON.parse(atob(token.split('.')[1]));
                userId = tokenPayload["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"];

                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                    }
                });

                // Fetch the list of blog posts
                $.get('http://localhost:5233/api/Products', function (data) {
                    allProductsOriginal = data.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));
                    allProducts = [...allProductsOriginal];
                    totalPages = Math.ceil(allProducts.length / itemsPerPage);
                    updateUI();
                });

                // Fetch the list of saved blog posts
                $.get('http://localhost:5233/api/Products/saved', function (savedBlogs) {
                    savedBlogIds = savedBlogs.map(blog => blog.blogId);
                    updateUI();
                });

                // Fetch the list of categories
                $.get('http://localhost:5233/api/Category', function (response) {
                    response.forEach(function (category) {
                        categoriesMap[category.id] = category.name;
                    });
                    updateUI();
                }).fail(function (xhr, status, error) {
                    console.error('Error fetching categories:', error);
                });
            }

            function calculateReadingTime(text) {
                const wordsPerMinute = 200;
                const wordCount = text.split(/\s+/).length;
                return Math.ceil(wordCount / wordsPerMinute);
            }

            function getCurrentPageItems() {
                var startIndex = (currentPage - 1) * itemsPerPage;
                return allProducts.slice(startIndex, startIndex + itemsPerPage);
            }

            function getCategoryName(categoryId) {
                return categoriesMap[categoryId] || "Không xác định";
            }

            function formatCreatedAt(createdAt) {
                var currentDate = new Date();
                var createdDate = new Date(createdAt);
                var timeDifference = Math.abs(currentDate - createdDate);
                var minutesDifference = Math.round(timeDifference / (1000 * 60));

                if (minutesDifference < 60) {
                    return minutesDifference + ' phút trước';
                } else if (minutesDifference < 24 * 60) {
                    return Math.floor(minutesDifference / 60) + ' giờ trước';
                } else {
                    return Math.floor(minutesDifference / (24 * 60)) + ' ngày trước';
                }
            }

            function truncateContent(content, maxLength) {
                if (content.length > maxLength) {
                    var lastSpaceIndex = content.lastIndexOf(' ', maxLength);
                    return lastSpaceIndex !== -1 ? content.substring(0, lastSpaceIndex) + '...' : content.substring(0, maxLength) + '...';
                }
                return content;
            }

            function updateUI() {
                $('.categories').empty();

                var blogCountByCategory = {};

                allProducts.forEach(function (product) {
                    if (!blogCountByCategory.hasOwnProperty(product.categoryId)) {
                        blogCountByCategory[product.categoryId] = 0;
                    }
                    blogCountByCategory[product.categoryId]++;
                });

                for (var categoryId in categoriesMap) {
                    if (categoriesMap.hasOwnProperty(categoryId)) {
                        var categoryName = categoriesMap[categoryId];
                        var listItem = $('<li></li>');
                        var link = $('<a href="#" data-category-id="' + categoryId + '"></a>').text(categoryName);

                        if (blogCountByCategory.hasOwnProperty(categoryId)) {
                            var blogCount = blogCountByCategory[categoryId];
                            var blogCountSpan = $('<span></span>').text('(' + blogCount + ')');
                            link.append(blogCountSpan);
                        }

                        listItem.append(link);
                        $('.categories').append(listItem);
                    }
                }

                var currentItems = getCurrentPageItems();
                $('#productsContainer').empty();

                currentItems.forEach(function (product) {
                    var productEntry = $('<div class="blog-entry d-flex blog-entry-search-item"></div>');

                    var imageLink = $('<a href="#" class="img-link me-4 imageLink"></a>').attr('href', '/Home/single?slug=' + product.slug);
                    var imageElement = $('<img src="" alt="Image" class="img-fluid">').attr('src', product.imageUrl);
                    imageLink.append(imageElement);

                    var saveIcon = $('<i class="save-icon"></i>').attr('data-blog-id', product.blogId);
                    saveIcon.addClass(savedBlogIds.includes(product.blogId) ? 'fa fa-bookmark saved' : 'far fa-bookmark');

                    var productInfoDiv = $('<div class="product-info"></div>');

                    var categoryElement = $('<span class="category"></span>').text(getCategoryName(product.categoryId));
                    var titleLink = $('<a class="titleLink" href=""></a>').attr('href', '/Home/single?slug=' + product.slug).text(product.title);
                    var titleElement = $('<h2></h2>').append(titleLink);
                    var readingTime = calculateReadingTime(product.content);
                    var readingTimeElement = $('<span class="reading-time"></span>').text(readingTime + ' phút đọc');
                    var dashElement = $('<span class="dash"> • </span>');

                    var categoryReadingTimeContainer = $('<div class="category-reading-time"></div>');
                    categoryReadingTimeContainer.append(categoryElement, dashElement.clone(), readingTimeElement);

                    productInfoDiv.append(categoryReadingTimeContainer, saveIcon, titleElement);

                    var contentElement = $('<p class="content"></p>').html(truncateContent(product.description, 100));
                    var avatarImg = $('<img>').attr('src', product.avatarUrl).addClass('avatar-img');
                    var userNameElement = $('<span class="date userName"></span>').text(product.firstName).addClass('username');
                    var createdAtElement = $('<span class="date createdAt"></span>').text(formatCreatedAt(product.createdAt));
                    var userInfoDiv = $('<div class="user-info"></div>');

                    userInfoDiv.append(avatarImg, userNameElement, dashElement.clone(), createdAtElement);
                    productInfoDiv.append(contentElement, userInfoDiv);

                    productEntry.append(imageLink, productInfoDiv);
                    $('#productsContainer').append(productEntry);
                });

                updatePagination();

                // Add click event handler for category links
                $('.categories a').on('click', function (e) {
                    e.preventDefault();
                    var categoryId = $(this).data('category-id');
                    filterByCategory(categoryId);
                });
            }

            function filterByCategory(categoryId) {
                currentPage = 1;
                if (categoryId) {
                    allProducts = allProductsOriginal.filter(function (product) {
                        return product.categoryId === categoryId;
                    });
                } else {
                    allProducts = [...allProductsOriginal];
                }
                totalPages = Math.ceil(allProducts.length / itemsPerPage);
                updateUI();
            }

            function updatePagination() {
                var pagination = $('#pagination ul.pagination');
                pagination.empty();

                var prevPageItem = $('<li class="page-item"><a class="page-link" href="#" id="prevPage">«</a></li>');
                pagination.append(prevPageItem);

                for (var i = 1; i <= totalPages; i++) {
                    var pageItem = $('<li class="page-item"></li>');
                    var pageLink = $('<a class="page-link" href="#" data-page="' + i + '"></a>').text(i);
                    if (i === currentPage) {
                        pageItem.addClass('active');
                    }
                    pageItem.append(pageLink);
                    pagination.append(pageItem);
                }

                var nextPageItem = $('<li class="page-item"><a class="page-link" href="#" id="nextPage">»</a></li>');
                pagination.append(nextPageItem);

                $('#prevPage').on('click', function (e) {
                    e.preventDefault();
                    if (currentPage > 1) {
                        currentPage--;
                        updateUI();
                    }
                });

                $('#nextPage').on('click', function (e) {
                    e.preventDefault();
                    if (currentPage < totalPages) {
                        currentPage++;
                        updateUI();
                    }
                });

                pagination.find('a.page-link[data-page]').on('click', function (e) {
                    e.preventDefault();
                    var selectedPage = parseInt($(this).attr('data-page'));
                    if (selectedPage !== currentPage) {
                        currentPage = selectedPage;
                        updateUI();
                    }
                });
            }

            $('#search-form').submit(function (e) {
                e.preventDefault();
                var searchTerm = $('#search-input').val().toLowerCase();
                currentPage = 1;

                if (searchTerm.trim() === '') {
                    allProducts = [...allProductsOriginal];
                } else {
                    allProducts = allProductsOriginal.filter(function (product) {
                        var title = product.title.toLowerCase();
                        var description = product.description.toLowerCase();
                        var content = product.content.toLowerCase();
                        return title.includes(searchTerm) || description.includes(searchTerm) || content.includes(searchTerm);
                    });
                }

                totalPages = Math.ceil(allProducts.length / itemsPerPage);
                updateUI();
            });

            $(document).on('click', '.save-icon', function (event) {
                event.preventDefault();

                var saveIcon = $(this);
                var blogId = saveIcon.attr('data-blog-id');
                var isSaved = saveIcon.hasClass('saved');

                if (isSaved) {
                    saveIcon.removeClass('fa fa-bookmark saved').addClass('far fa-bookmark');
                    showNotification('thành công!', 'success', 'unsave');
                } else {
                    saveIcon.removeClass('far fa-bookmark').addClass('fa fa-bookmark saved');
                    showNotification('thành công!', 'success', 'save');
                }

                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5233/api/Products/saved',
                    data: JSON.stringify({ blogId: blogId }),
                    contentType: 'application/json',
                    success: function () { },
                    error: function (xhr, status, error) {
                        console.error('Error saving/unsaving blog:', error);
                        showNotification('Đã xảy ra lỗi!', 'error');
                        if (isSaved) {
                            saveIcon.removeClass('far fa-bookmark').addClass('fa fa-bookmark saved');
                        } else {
                            saveIcon.removeClass('fa fa-bookmark saved').addClass('far fa-bookmark');
                        }
                    }
                });
            });

            function showNotification(message, type, action) {
                var actionText = '';
                if (action === 'save') {
                    actionText = 'Lưu bài viết';
                } else if (action === 'unsave') {
                    actionText = 'Bỏ lưu bài viết';
                }

                var notification = $('<div class="notification"></div>');
                notification.text(actionText + ' ' + message);
                notification.addClass(type);
                if ($('.notification').length >= 1) {
                    $('.notification:first').remove();
                }

                $('body').append(notification);

                notification.fadeIn().delay(3000).fadeOut(function () {
                    $(this).remove();
                });
            }
        });

    </script>




</body>
</html>
