<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        .product-info {
            width: -webkit-fill-available; /* Đặt kích thước cố định cho phần product-info */
            overflow: hidden; /* Ẩn nội dung vượt ra ngoài */
        }

        .category {
            width: auto;
            display: -webkit-inline-box;
        }

        .reading-time {
            color: #b3b3b3;
        }

        .date.createdAt {
            color: #b3b3b3;
        }

        .dash {
            color: #b3b3b3;
        }
        .category-reading-time {
            width: 494px;
            display: -webkit-inline-box;
        }


        .username {
            margin-left: 9px;
            font-weight: 600;
            color: black;/* Đặt margin bên trái của tên người dùng */
        }
        .avatar-img {
            width: 2.5rem; /* Kích thước của khung hình */
            height: 2.5rem;
            border-radius: 50%; /* Tạo khung hình tròn */
            object-fit: cover; /* Hình ảnh vừa với kích thước của khung hình */
        }
        .titleLink {
           
            margin-top: 10px;
            max-width: 500px;
            overflow: hidden;       
            margin-bottom: 5px; /* Khoảng cách dưới của title */
            font-weight: 600; /* In đậm title */
            font-size: 20px; /* Kích thước font nhỏ hơn */
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Số dòng tối đa */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000000;
        }

        .posts-entry .blog-entry h2 a, .posts-entry .blog-entry .h2 a {
            color: black;
        }

            /* Định dạng text trong title */
         

        .posts-entry .blog-entry-search-item .img-link {
            width: 300px; /* Đặt chiều rộng là 200px */
            height: 170px; /* Đặt chiều cao là 200px */
            overflow: hidden; /* Ẩn phần của hình ảnh vượt quá kích thước đã đặt */
        }

            .posts-entry .blog-entry-search-item .img-link img {
                width: 100%; /* Hình ảnh sẽ tự động co dãn để vừa với kích thước đã đặt */
                height: 100%; /* Đảm bảo tỷ lệ hình ảnh không bị biến dạng */
                object-fit: cover; /* Hình ảnh sẽ bị kéo ra để vừa với kích thước đã đặt */
                object-position: center; /* Đảm bảo hình ảnh luôn được canh giữa */
                border-radius: 0; /* Xóa bo góc nếu có */
            }

    </style>
</head>
<body>
    <div class="hero overlay inner-page bg-primary py-5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center pt-5">
                <div class="col-lg-6">
                    <h1 class="heading text-white mb-3" data-aos="fade-up">Blog</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section search-result-wrap">
        <div class="container">

            <div class="row posts-entry">
                <div class="col-lg-8" id="productsContainer">
                    <!-- Sẽ thêm các sản phẩm vào đây -->

                </div>
                

                <div class="col-lg-4 sidebar">
                    <div class="sidebar-box search-form-wrap mb-4">
                        <form action="#" class="sidebar-search-form">
                            <span class="bi-search"></span>
                            <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
                        </form>
                    </div>
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <h3 class="heading">Popular Posts</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                                <li>
                                    <a href="">
                                        <img src="images/img_1_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="images/img_2_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <img src="images/img_3_sq.jpg" alt="Image placeholder" class="me-4 rounded">
                                        <div class="text">
                                            <h4>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                                            <div class="post-meta">
                                                <span class="mr-2">March 15, 2018 </span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- END sidebar-box -->

                    <div class="sidebar-box">
                        <h3 class="heading">Categories</h3>
                        <ul class="categories">
                            <li><a href="#">Food <span>(12)</span></a></li>
                            <li><a href="#">Travel <span>(22)</span></a></li>
                            <li><a href="#">Lifestyle <span>(37)</span></a></li>
                            <li><a href="#">Business <span>(42)</span></a></li>
                            <li><a href="#">Adventure <span>(14)</span></a></li>
                        </ul>
                    </div>
                    <!-- END sidebar-box -->

                    <div class="sidebar-box">
                        <h3 class="heading">Tags</h3>
                        <ul class="tags">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Freelancing</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Freelancing</a></li>
                        </ul>
                    </div>
                </div>
               
                    
             

            </div>
            <div class="pagination">
                <button id="firstPage"><<</button>
                <button id="prevPage"><</button>
                <span id="currentPage"></span>
                <button id="nextPage">></button>
                <button id="lastPage">>></button>
                <div id="pageButtons"></div>
            </div>

        </div>
    </div>

    @Html.Partial("_FooterPartial")

    <script>
        $(document).ready(function () {
            var currentPage = 1; // Trang hiện tại
            var itemsPerPage = 7; // Số sản phẩm trên mỗi trang
            var allProducts = []; // Danh sách tất cả các bài viết
            var savedBlogIds = []; // Danh sách ID của các bài viết đã được lưu
            var userId = ''; // ID của người dùng
            var categoriesMap = {};

            // Lấy token từ localStorage
            var token = localStorage.getItem('token');

            // Kiểm tra nếu token tồn tại
            if (token) {
                // Giải mã token để lấy thông tin
                var tokenPayload = JSON.parse(atob(token.split('.')[1]));
                // Lấy user ID từ thông tin giải mã
                userId = tokenPayload["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"];

                // Thiết lập các tiêu đề yêu cầu cho các yêu cầu AJAX với token
                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                    }
                });

                // Gọi API để lấy danh sách các bài viết
                $.get('http://localhost:5233/api/Products', function (data) {
                    allProducts = data.sort(function (a, b) {
                        return new Date(b.createdAt) - new Date(a.createdAt);
                    });
                    // Cập nhật UI sau khi nhận được dữ liệu
                    updateUI();
                });
                $.get('http://localhost:5233/api/Products/saved', function (savedBlogs) {
                    // Cập nhật danh sách ID của các bài viết đã được lưu
                    savedBlogIds = savedBlogs.map(blog => blog.blogId);
                    // Cập nhật UI sau khi nhận được dữ liệu
                    updateUI();
                });
            }
            function calculateReadingTime(text) {
                // Độ dài trung bình của một từ trong tiếng Anh
                const wordsPerMinute = 200;

                // Số từ trong văn bản
                const wordCount = text.split(/\s+/).length;

                // Số phút đọc được tính toán
                const readingTime = Math.ceil(wordCount / wordsPerMinute);

                return readingTime;
            }

            // Hàm lấy danh sách các bài viết trên trang hiện tại
            function getCurrentPageItems() {
                var startIndex = (currentPage - 1) * itemsPerPage;
                var endIndex = startIndex + itemsPerPage;
                return allProducts.slice(startIndex, endIndex);
            }
            $.ajax({
                type: 'GET',
                url: 'http://localhost:5233/api/Category',
                success: function (response) {
                    // Lưu trữ danh mục sản phẩm vào đối tượng
                    response.forEach(function (category) {
                        categoriesMap[category.id] = category.name;
                    });

                    // Gọi hàm để tạo giao diện người dùng sau khi lấy dữ liệu danh mục sản phẩm thành công
                    updateUI();
                },
                error: function (xhr, status, error) {
                    console.error('Error fetching categories:', error);
                }
            });

            // Hàm để lấy tên danh mục từ id
            function getCategoryName(categoryId) {
                // Kiểm tra xem danh mục có trong đối tượng categoriesMap không
                if (categoriesMap.hasOwnProperty(categoryId)) {
                    return categoriesMap[categoryId];
                } else {
                    return "Không xác định";
                }
            }
            // Hàm cập nhật giao diện người dùng
            function updateUI() {
                var currentItems = getCurrentPageItems();
                $('#productsContainer').empty(); // Xóa bài viết hiện tại để cập nhật lại

                currentItems.forEach(function (product) {
                    console.log("Product content:", product.content);
                    var productEntry = $('<div class="blog-entry d-flex blog-entry-search-item"></div>');

                    var imageLink = $('<a href="#" class="img-link me-4 imageLink"></a>').attr('href', '/Home/single?slug=' + product.slug);
                    var imageElement = $('<img src="" alt="Image" class="img-fluid">').attr('src', product.imageUrl);
                    imageLink.append(imageElement);

                    var saveIcon = $('<i class="save-icon"></i>').attr('data-blog-id', product.blogId);

                    // Kiểm tra xem người dùng đã lưu bài viết này chưa
                    if (savedBlogIds.includes(product.blogId)) {
                        saveIcon.addClass('fa fa-bookmark saved'); // Đánh dấu rằng bài viết đã được lưu
                    } else {
                        saveIcon.addClass('far fa-bookmark'); // Đánh dấu rằng bài viết chưa được lưu
                    }

                    var productInfoDiv = $('<div class="product-info"></div>');

                    // Thêm category sản phẩm
                    var categoryElement = $('<span class="category"></span>').text(getCategoryName(product.categoryId));
                    var titleLink = $('<a class="titleLink" href=""></a>').attr('href', '/Home/single?slug=' + product.slug).text(product.title);
                    var titleElement = $('<h2></h2>').append(titleLink);
                    var readingTime = calculateReadingTime(product.content);

                    // Tạo phần hiển thị số phút đọc
                    var readingTimeElement = $('<span class="reading-time"></span>').text(readingTime + ' phút đọc');
                    var dashElement = $('<span class="dash"> • </span>');

                    // Tạo container cho categoryName và readingTime
                    var categoryReadingTimeContainer = $('<div class="category-reading-time"></div>');

                    // Thêm categoryName và readingTime vào container
                    categoryReadingTimeContainer.append(categoryElement, dashElement, readingTimeElement);

                    // Thêm container này vào productInfoDiv
                    productInfoDiv.append(categoryReadingTimeContainer, saveIcon, titleElement);

                    var contentElement = $('<p class="content"></p>').html(truncateContent(product.description, 100));
                    var avatarImg = $('<img>').attr('src', product.avatarUrl).addClass('avatar-img');
                    var userNameElement = $('<span class="date userName"></span>').text(product.firstName).addClass('username');
                    var dashElement = $('<span class="dash"> • </span>');

                    var createdAtElement = $('<span class="date createdAt"></span>').text(formatCreatedAt(product.createdAt));
                    var userInfoDiv = $('<div></div>');
                    userInfoDiv.append(avatarImg, userNameElement, dashElement, createdAtElement);
                    productInfoDiv.append(contentElement, userInfoDiv);

                    productEntry.append(imageLink, productInfoDiv);
                    $('#productsContainer').append(productEntry);
                });



                $('#currentPage').text('Trang ' + currentPage);

                $('#prevPage').prop('disabled', currentPage === 1);
                $('#nextPage').prop('disabled', currentPage === Math.ceil(allProducts.length / itemsPerPage));
            }

            // Xử lý khi click vào nút Previous
            $('#prevPage').click(function () {
                if (currentPage > 1) {
                    currentPage--;
                    updateUI();
                }
            });

            // Xử lý khi click vào nút Next
            $('#nextPage').click(function () {
                if (currentPage < Math.ceil(allProducts.length / itemsPerPage)) {
                    currentPage++;
                    updateUI();
                }
            });

            // Xử lý sự kiện khi click vào nút "Lưu bài viết" hoặc "Bỏ lưu bài viết"
            $(document).on('click', '.save-icon', function (event) {
                event.preventDefault();

                var saveIcon = $(this); // Lưu lại đối tượng nút "Lưu bài viết"
                var blogId = saveIcon.attr('data-blog-id');
                var isSaved = saveIcon.hasClass('saved');

                // Thực hiện thay đổi biểu tượng ngay lập tức
                if (isSaved) {
                    saveIcon.removeClass('fa fa-bookmark saved').addClass('far fa-bookmark');
                } else {
                    saveIcon.removeClass('far fa-bookmark').addClass('fa fa-bookmark saved');
                }

                // Gửi yêu cầu API để lưu hoặc bỏ lưu bài viết
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5233/api/Products/saved',
                    data: JSON.stringify({ blogId: blogId }),
                    contentType: 'application/json',
                    success: function (response) {
                        // Không cần làm gì nếu yêu cầu thành công
                    },
                    error: function (xhr, status, error) {
                        console.error('Error saving/unsaving blog:', error);
                        // Nếu có lỗi, hoặc không có phản hồi, quay trở lại trạng thái trước đó của biểu tượng
                        if (isSaved) {
                            saveIcon.removeClass('far fa-bookmark').addClass('fa fa-bookmark saved');
                        } else {
                            saveIcon.removeClass('fa fa-bookmark saved').addClass('far fa-bookmark');
                        }
                    }
                });
            });

            // Hàm định dạng thời gian tạo
            function formatCreatedAt(createdAt) {
                var currentDate = new Date();
                var createdDate = new Date(createdAt);

                var timeDifference = Math.abs(currentDate - createdDate);
                var minutesDifference = Math.round(timeDifference / (1000 * 60));

                if (minutesDifference < 60) {
                    return minutesDifference + ' phút trước';
                } else if (minutesDifference < 24 * 60) {
                    var hoursDifference = Math.floor(minutesDifference / 60);
                    return hoursDifference + ' giờ trước';
                } else {
                    var daysDifference = Math.floor(minutesDifference / (24 * 60));
                    return daysDifference + ' ngày trước';
                }
            }

            // Hàm cắt nội dung với độ dài tối đa
            function truncateContent(content, maxLength) {
                if (content.length > maxLength) {
                    var lastSpaceIndex = content.lastIndexOf(' ', maxLength);
                    if (lastSpaceIndex !== -1) {
                        return content.substring(0, lastSpaceIndex) + '...';
                    } else {
                        return content.substring(0, maxLength) + '...';
                    }
                } else {
                    return content;
                }
            }
        });
    </script>


</body>
</html>
