<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>

        .notification {
            position: fixed;
            top: 80px;
            right: 20px;
            padding: 10px;
            background-color: #0C2F40;
            color: #fff;
            border-radius: 5px;
            display: none; /* Ẩn phần tử ban đầu */
        }

        .post-entry-sidebar ul li a img, .post-entry-footer ul li a img {
            width: 250px;
        }

        .product-info {
            width: -webkit-fill-available; /* Đặt kích thước cố định cho phần product-info */
            overflow: hidden; /* Ẩn nội dung vượt ra ngoài */
        }

        .category {
            width: auto;
            display: -webkit-inline-box;
        }

        .reading-time {
            color: #b3b3b3;
        }

        .date.createdAt {
            color: #b3b3b3;
        }

        .dash {
            color: #b3b3b3;
        }

        .category-reading-time {
            width: 474px;
            display: -webkit-inline-box;
        }

        .fa-ellipsis-v:before {
            content: "\f142";
            margin-left: 10px;
        }

        .username {
            margin-left: 9px;
            font-weight: 600;
            color: black; /* Đặt margin bên trái của tên người dùng */
        }

        .avatar-img {
            width: 2.5rem; /* Kích thước của khung hình */
            height: 2.5rem;
            border-radius: 50%; /* Tạo khung hình tròn */
            object-fit: cover; /* Hình ảnh vừa với kích thước của khung hình */
        }

        .titleLink {
            margin-top: 10px;
            max-width: 500px;
            overflow: hidden;
            margin-bottom: 5px; /* Khoảng cách dưới của title */
            font-weight: 600; /* In đậm title */
            font-size: 20px; /* Kích thước font nhỏ hơn */
            display: -webkit-box;
            -webkit-line-clamp: 2; /* Số dòng tối đa */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #000000;
        }

        .posts-entry .blog-entry h2 a, .posts-entry .blog-entry .h2 a {
            color: black;
        }

        /* Định dạng text trong title */


        .posts-entry .blog-entry-search-item .img-link {
            width: 300px;
            height: 170px;
            overflow: hidden;
        }

            .posts-entry .blog-entry-search-item .img-link img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                border-radius: 0;
            }

        .dropdown-menu {
            position: absolute;
            z-index: 1000;
            display: none;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0;
            font-size: 1rem;
            color: #212529;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, 0.15);
            border-radius: 0.25rem;
            margin-left: 349px;
        }

        h4, .h4 {
            font-size: 1rem;
            font-weight: 600;
            width: 250px;
            color: black;
        }

        .comment-wrap .heading, .search-result-wrap .heading {
            font-size: 18px;
            color: #000;
            font-weight: 400;
            margin-bottom: 16px;
            padding-bottom: 7px;
            border-bottom: 1px solid #e6e6e6;
            font-weight: 600;
        }

        .popular-post img {
            width: 250px;
        }

            .popular-post img.avatar-img {
                width: 50px; /* hoặc kích thước mong muốn cho avatar */
                height: 50px; /* hoặc kích thước mong muốn cho avatar */
            }

        .sidebar-box {
            border: 1px solid #ebeef5; /* Thiết lập độ rộng và màu sắc của viền */
            padding: 20px; /* Thêm padding để tạo khoảng cách giữa nội dung và viền */
            border-radius: 5px; /* Bo tròn các góc của hộp */
        }

        /* Để thêm các kiểu viền khác nhau hoặc hiệu ứng, bạn có thể sử dụng các thuộc tính CSS khác như box-shadow, border-style, v.v. */

    </style>
</head>
<body>
    <div id="notification" class="notification"></div>

    <div class="hero overlay inner-page bg-primary py-5">
        <div class="container">
            <div class="row align-items-center justify-content-center text-center pt-5">
                <div class="col-lg-6">
                    <h1 class="heading text-white mb-3" data-aos="fade-up">TÀI CHÍNH</h1>
                </div>
            </div>
        </div>
    </div>


    <div class="section search-result-wrap">
        <div class="container">

            <div class="row posts-entry">
                <div class="col-lg-8" id="productsContainer">
                    <!-- Sẽ thêm các sản phẩm vào đây -->
                </div>
                <div class="col-lg-4 sidebar">

                    <div class="sidebar-box">
                        <h3 class="heading">Danh Mục Blog</h3>
                        <ul class="categories"></ul>
                    </div>
                    <!-- END sidebar-box -->
                    <div class="sidebar-box">
                        <h3 class="heading">CŨ NHƯNG CHẤT</h3>
                        <div class="post-entry-sidebar">
                            <ul>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-box">
                        <h3 class="heading">Tags</h3>
                        <ul class="tags">
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Freelancing</a></li>
                            <li><a href="#">Travel</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Food</a></li>
                            <li><a href="#">Lifestyle</a></li>
                            <li><a href="#">Business</a></li>
                            <li><a href="#">Freelancing</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="pagination">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#" id="prevPage">«</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="1">1</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="2">2</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="3">3</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="4">4</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="5">5</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="6">6</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="7">7</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="8">8</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="9">9</a></li>
                    <li class="page-item"><a class="page-link" href="#" data-page="10">10</a></li>
                    <li class="page-item"><a class="page-link" href="#" id="nextPage">»</a></li>
                </ul>
            </div>

        </div>
    </div>
    @Html.Partial("_FooterPartial")

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var currentPage = 1; // Current page number
            var itemsPerPage = 7; // Number of items per page
            var allProducts = []; // List of all blog posts
            var savedBlogIds = []; // List of saved blog post IDs
            var userId = ''; // User ID
            var categoriesMap = {}; // Map of categories
            var allProductsOriginal = []; // Original list of all blog posts
            var totalPages = 1; // Total number of pages
            var token = localStorage.getItem('token'); // Retrieve token from localStorage

            // Check if the token exists
            if (token) {
                var tokenPayload = JSON.parse(atob(token.split('.')[1]));
                userId = tokenPayload["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"];

                $.ajaxSetup({
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader('Authorization', 'Bearer ' + token);
                    }
                });
                const urlParams = new URLSearchParams(window.location.search);
                const searchKeyword = urlParams.get('search');

                if (searchKeyword) {
                    // Fetch search results if there is a search keyword
                    $.get(`http://localhost:5233/api/Products/search?keyword=${encodeURIComponent(searchKeyword)}`, function (data) {
                        allProductsOriginal = data.sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));
                        allProducts = [...allProductsOriginal];
                        totalPages = Math.ceil(allProducts.length / itemsPerPage);
                        updateUI();
                    }).fail(function (xhr, status, error) {
                        console.error('Error fetching search results:', error);
                    });
                } else {
                    // Fetch all products if no search keyword
                    $.get('http://localhost:5233/api/Products', function (data) {
                        allProductsOriginal = data.filter(product => product.categoryId === 6).sort((a, b) => new Date(b.createdAt) - new Date(a.createdAt));
                      
                        allProducts = [...allProductsOriginal];
                        totalPages = Math.ceil(allProducts.length / itemsPerPage);
                        updateUI();
                    });
                }

                // Fetch the list of blog posts

                // Fetch the list of saved blog posts
                $.get('http://localhost:5233/api/Products/saved', function (savedBlogs) {
                    savedBlogIds = savedBlogs.map(blog => blog.blogId);
                    updateUI();
                });

                // Fetch the list of categories
                $.get('http://localhost:5233/api/Category', function (response) {
                    response.forEach(function (category) {
                        categoriesMap[category.id] = category.name;
                    });
                    updateUI();
                }).fail(function (xhr, status, error) {
                    console.error('Error fetching categories:', error);
                });
            }
            $.get('http://localhost:5233/api/Products/popular?count=2', function (data) {
                // Xử lý dữ liệu trả về từ API
                data.forEach(function (post) {
                    // Tạo một mục "Popular Post"
                    var popularPost = $('<li></li>').addClass('popular-post');

                    // Tạo liên kết cho bài đăng
                    var postLink = $('<a></a>').attr('href', '/Home/single?slug=' + post.slug);

                    // Thêm hình ảnh vào liên kết
                    var postImage = $('<img>').attr('src', post.imageUrl).attr('alt', 'Image placeholder').addClass('me-4 rounded popular-image');
                    postLink.append(postImage);

                    // Thêm tiêu đề vào liên kết
                    var postTitle = $('<h4></h4>').text(post.title);
                    postLink.append(postTitle);

                    // Thêm thẻ span chứa ngày đăng vào mục
                    var postMeta = $('<div></div>').addClass('post-meta');
                    var postDate = $('<span></span>').addClass('mr-2').text(formatCreatedAt(post.createdAt));
                    postMeta.append(postDate);

                    // Tạo phần tử avatar
                    var avatarImg = $('<img>').attr('src', post.avatarUrl).addClass('avatar-img');
                    var userNameElement = $('<span class="userName"></span>').text(post.firstName);

                    // Tạo phần tử category và reading time
                    var categoryReadingTimeContainer = $('<div class="category-reading-time"></div>');
                    var categoryElement = $('<span class="category"></span>').text(post.categoryName);

                    var readingTimeElement = $('<span class="reading-time"></span>').text(calculateReadingTime(post.content) + ' phút đọc');

                    categoryReadingTimeContainer.append(categoryElement, readingTimeElement);

                    // Tạo phần tử lưu bài viết
                    var saveIcon = $('<i class="save-icon"></i>').attr('data-blog-id', post.blogId);
                    saveIcon.addClass(savedBlogIds.includes(post.blogId) ? 'fa fa-bookmark saved' : 'far fa-bookmark');

                    // Tạo phần tử options icon
                    var optionsIcon = $('<i class="options-icon fas fa-ellipsis-v"></i>').attr('data-user-id', post.userId);

                    // Gộp các phần tử vào mục "Popular Post"
                    popularPost.append(postLink);
                    popularPost.append(categoryReadingTimeContainer);


                    popularPost.append(avatarImg);
                    popularPost.append(userNameElement);
                    // popularPost.append(saveIcon);
                    // popularPost.append(optionsIcon);
                    // Thêm mục "Popular Post" vào danh sách "Popular Posts"
                    $('.post-entry-sidebar ul').append(popularPost);
                });
            }).fail(function (xhr, status, error) {
                console.error('Error fetching popular posts:', error);
            });


            function calculateReadingTime(text) {
                const wordsPerMinute = 200;
                const wordCount = text.split(/\s+/).length;
                return Math.ceil(wordCount / wordsPerMinute);
            }

            function getCurrentPageItems() {
                var startIndex = (currentPage - 1) * itemsPerPage;
                return allProducts.slice(startIndex, startIndex + itemsPerPage);
            }

            function getCategoryName(categoryId) {
                return categoriesMap[categoryId] || "Không xác định";
            }

            function formatCreatedAt(createdAt) {
                var currentDate = new Date();
                var createdDate = new Date(createdAt);
                var timeDifference = Math.abs(currentDate - createdDate);
                var minutesDifference = Math.round(timeDifference / (1000 * 60));

                if (minutesDifference < 60) {
                    return minutesDifference + ' phút trước';
                } else if (minutesDifference < 24 * 60) {
                    return Math.floor(minutesDifference / 60) + ' giờ trước';
                } else {
                    return Math.floor(minutesDifference / (24 * 60)) + ' ngày trước';
                }
            }

            function truncateContent(content, maxLength) {
                if (content.length > maxLength) {
                    var lastSpaceIndex = content.lastIndexOf(' ', maxLength);
                    return lastSpaceIndex !== -1 ? content.substring(0, lastSpaceIndex) + '...' : content.substring(0, maxLength) + '...';
                }
                return content;
            }

            function updateUI() {
                $('.categories').empty();

                var blogCountByCategory = {};

                allProducts.forEach(function (product) {
                    if (!blogCountByCategory.hasOwnProperty(product.categoryId)) {
                        blogCountByCategory[product.categoryId] = 0;
                    }
                    blogCountByCategory[product.categoryId]++;
                });

                for (var categoryId in categoriesMap) {
                    if (categoriesMap.hasOwnProperty(categoryId)) {
                        var categoryName = categoriesMap[categoryId];
                        var listItem = $('<li></li>');
                        var link = $('<a href="#" data-category-id="' + categoryId + '"></a>').text(categoryName);

                        if (blogCountByCategory.hasOwnProperty(categoryId)) {
                            var blogCount = blogCountByCategory[categoryId];
                            var blogCountSpan = $('<span></span>').text('(' + blogCount + ')');
                            link.append(blogCountSpan);
                        }

                        listItem.append(link);
                        $('.categories').append(listItem);
                    }
                }

                var currentItems = getCurrentPageItems();
                $('#productsContainer').empty();

                currentItems.forEach(function (product) {
                    var productEntry = $('<div class="blog-entry d-flex blog-entry-search-item"></div>');

                    var imageLink = $('<a href="#" class="img-link me-4 imageLink"></a>').attr('href', '/Home/single?slug=' + product.slug);
                    var imageElement = $('<img src="" alt="Image" class="img-fluid">').attr('src', product.imageUrl);
                    imageLink.append(imageElement);

                    var saveIcon = $('<i class="save-icon"></i>').attr('data-blog-id', product.blogId);
                    saveIcon.addClass(savedBlogIds.includes(product.blogId) ? 'fa fa-bookmark saved' : 'far fa-bookmark');

                    var optionsIcon = $('<i class="options-icon fas fa-ellipsis-v"></i>').attr('data-user-id', product.userId);


                    var productInfoDiv = $('<div class="product-info"></div>');

                    var categoryElement = $('<span class="category"></span>').text(getCategoryName(product.categoryId));
                    var titleLink = $('<a class="titleLink" href=""></a>').attr('href', '/Home/single?slug=' + product.slug).text(product.title);
                    var titleElement = $('<h2></h2>').append(titleLink);
                    var readingTime = calculateReadingTime(product.content);
                    var readingTimeElement = $('<span class="reading-time"></span>').text(readingTime + ' phút đọc');
                    var dashElement = $('<span class="dash"> • </span>');

                    var categoryReadingTimeContainer = $('<div class="category-reading-time"></div>');
                    categoryReadingTimeContainer.append(categoryElement, dashElement.clone(), readingTimeElement);

                    productInfoDiv.append(categoryReadingTimeContainer, saveIcon, optionsIcon, titleElement); // Thêm optionsIcon vào đây

                    var contentElement = $('<p class="content"></p>').html(truncateContent(product.description, 100));
                    var avatarImg = $('<img>').attr('src', product.avatarUrl).addClass('avatar-img');

                    // Thêm sự kiện click cho hình đại diện
                    avatarImg.click(function (event) {
                        event.preventDefault();

                        // Lấy userId từ dữ liệu sản phẩm (product)
                        var userId = product.userId;

                        // Chuyển hướng người dùng đến trang UserProfile với userId truyền qua URL
                        window.location.href = 'http://localhost:5236/Account/UserProfile?userId=' + userId;
                    });
                    var userNameElement = $('<span class="date userName"></span>').text(product.firstName).addClass('username');
                    var createdAtElement = $('<span class="date createdAt"></span>').text(formatCreatedAt(product.createdAt));
                    var userInfoDiv = $('<div class="user-info"></div>');

                    userInfoDiv.append(avatarImg, userNameElement, dashElement.clone(), createdAtElement);
                    productInfoDiv.append(contentElement, userInfoDiv);

                    productEntry.append(imageLink, productInfoDiv);
                    $('#productsContainer').append(productEntry);
                });

                updatePagination();

                // Add click event handler for category links
                $('.categories a').on('click', function (e) {
                    e.preventDefault();
                    var categoryId = $(this).data('category-id');
                    filterByCategory(categoryId);
                });
            }

            function filterByCategory(categoryId) {
                currentPage = 1;
                if (categoryId) {
                    allProducts = allProductsOriginal.filter(function (product) {
                        return product.categoryId === categoryId;
                    });
                } else {
                    allProducts = [...allProductsOriginal];
                }
                totalPages = Math.ceil(allProducts.length / itemsPerPage);
                updateUI();
            }

            function updatePagination() {
                var pagination = $('#pagination ul.pagination');
                pagination.empty();

                var prevPageItem = $('<li class="page-item"><a class="page-link" href="#" id="prevPage">«</a></li>');
                pagination.append(prevPageItem);

                for (var i = 1; i <= totalPages; i++) {
                    var pageItem = $('<li class="page-item"></li>');
                    var pageLink = $('<a class="page-link" href="#" data-page="' + i + '"></a>').text(i);
                    if (i === currentPage) {
                        pageItem.addClass('active');
                    }
                    pageItem.append(pageLink);
                    pagination.append(pageItem);
                }

                var nextPageItem = $('<li class="page-item"><a class="page-link" href="#" id="nextPage">»</a></li>');
                pagination.append(nextPageItem);

                $('#prevPage').on('click', function (e) {
                    e.preventDefault();
                    if (currentPage > 1) {
                        currentPage--;
                        updateUI();
                    }
                });

                $('#nextPage').on('click', function (e) {
                    e.preventDefault();
                    if (currentPage < totalPages) {
                        currentPage++;
                        updateUI();
                    }
                });

                pagination.find('a.page-link[data-page]').on('click', function (e) {
                    e.preventDefault();
                    var selectedPage = parseInt($(this).attr('data-page'));
                    if (selectedPage !== currentPage) {
                        currentPage = selectedPage;
                        updateUI();
                    }
                });
            }


            $(document).ready(function () {
                var isDropdownVisible = false; // Biến trạng thái của dropdown menu

                $(document).on('click', '.options-icon', function (event) {
                    event.preventDefault();
                    console.log("Options icon clicked!");

                    var optionsIcon = $(this);
                    var userIdToFollow = optionsIcon.attr('data-user-id');

                    // Tạo dropdown menu nếu chưa tồn tại
                    var dropdownMenu = optionsIcon.next('.dropdown-menu');
                    if (dropdownMenu.length === 0) {
                        dropdownMenu = $('<div class="dropdown-menu"></div>');

                        var followOption = $('<div class="dropdown-item">Theo dõi</div>');
                        followOption.on('click', function () {
                            followUser(userIdToFollow);
                        });

                        dropdownMenu.append(followOption);
                        optionsIcon.after(dropdownMenu); // Thêm dropdown menu vào sau options icon
                    } else {
                        isDropdownVisible = !isDropdownVisible; // Đảo ngược trạng thái của dropdown menu
                        if (isDropdownVisible) {
                            dropdownMenu.show(); // Hiển thị dropdown menu
                        } else {
                            dropdownMenu.hide(); // Ẩn dropdown menu
                        }
                    }
                });

                // Sự kiện click để ẩn dropdown menu khi click ra ngoài
                $(document).on('click', function (e) {
                    if (!$(e.target).closest('.options-icon').length && !$(e.target).closest('.dropdown-menu').length) {
                        $('.dropdown-menu').hide();
                        isDropdownVisible = false; // Đặt lại trạng thái của dropdown menu khi click ra ngoài
                    }
                });
            });
            function followUser(userIdToFollow) {
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5233/api/Accounts/FollowUser',
                    contentType: 'application/json',
                    data: JSON.stringify({ followerId: userId, followeeId: userIdToFollow }),
                    success: function () {
                        showNotification('Đã theo dõi người dùng!', 'success');
                    },
                    error: function (xhr, status, error) {
                        console.error('Error following user:', error);
                        showNotification('Đã xảy ra lỗi khi theo dõi người dùng!', 'error');
                    }
                });
            }
            function showNotification(message, type) {
                var notification = $('<div class="notification"></div>').addClass(type).text(message);
                $('body').append(notification);

                setTimeout(function () {
                    notification.fadeOut(400, function () {
                        notification.remove();
                    });
                }, 3000);
            }
            $(document).on('click', '.save-icon', function (event) {
                event.preventDefault();
                var saveIcon = $(this);
                var blogId = saveIcon.attr('data-blog-id');
                var isSaved = saveIcon.hasClass('saved');

                if (isSaved) {
                    saveIcon.removeClass('fa fa-bookmark saved').addClass('far fa-bookmark');
                    showNotification('thành công!', 'success', 'unsave');
                } else {
                    saveIcon.removeClass('far fa-bookmark').addClass('fa fa-bookmark saved');
                    showNotification('thành công!', 'success', 'save');
                }
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5233/api/Products/saved',
                    data: JSON.stringify({ blogId: blogId }),
                    contentType: 'application/json',
                    success: function () { },
                    error: function (xhr, status, error) {
                        console.error('Error saving/unsaving blog:', error);
                        showNotification('Đã xảy ra lỗi!', 'error');
                        if (isSaved) {
                            saveIcon.removeClass('far fa-bookmark').addClass('fa fa-bookmark saved');
                        } else {
                            saveIcon.removeClass('fa fa-bookmark saved').addClass('far fa-bookmark');
                        }
                    }
                });
            });
            function showNotification(message, type, action) {
                var actionText = '';
                if (action === 'save') {
                    actionText = 'Lưu bài viết';
                } else if (action === 'unsave') {
                    actionText = 'Bỏ lưu bài viết';
                }

                var notification = $('<div class="notification"></div>');
                notification.text(actionText + ' ' + message);
                notification.addClass(type);
                if ($('.notification').length >= 1) {
                    $('.notification:first').remove();
                }

                $('body').append(notification);

                notification.fadeIn().delay(3000).fadeOut(function () {
                    $(this).remove();
                });
            }
        });
    </script>
</body>
</html>
