<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <style>
        .containerr {
            max-width: 1120px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }

        form div {
            margin-bottom: 20px;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: 700;
        }

        input, textarea {
            width: 100%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .hidden {
            display: none;
        }

        .image-container {
            max-width: 500px;
            max-height: 500px;
            overflow: hidden; 
        }

            .image-container img {
                width: 100%; 
                height: auto; 
            }
    </style>
</head>
<body>
    <div class="containerr">
        <input type="file" id="imageInput" accept="image/*">
      

        <form id="addBlogForm">
            <div>
                <label for="title">Tiêu đề:</label>
                <input type="text" id="title" name="title">
            </div>
            <div>
                <label for="content">Nội dung:</label>
                <textarea id="content" name="content"></textarea>
            </div>
            <div>
                <label for="slug">Slug</label>
                <input type="text" id="slug" name="slug">
            </div>
            <div class="hidden">
                <label for="imageUrl">URL của hình ảnh:</label>
                <input type="text" id="imageUrl" name="imageUrl" readonly>
            </div>
            <div id="imageContainer" style="display: none;">
                <label for="imageUrl">Ảnh:</label>
                <div class="image-container">
                    <img id="imagePreview" src="" alt="Ảnh">
                </div>
            </div>

            <input type="hidden" id="createdAt" name="createdAt">
            <input type="hidden" id="userId" name="userId">
            <input type="hidden" id="username" name="username">
            <button type="submit">Thêm Blog</button>
        </form>
    </div>
    
    <script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
           
            CKEDITOR.replace('content', {
                height: '1000px'
            });
          
            var currentDateTime = new Date().toISOString().slice(0, 16);
            $('#createdAt').val(currentDateTime);

            var token = localStorage.getItem('token');
            if (token) {
                var tokenPayload = JSON.parse(atob(token.split('.')[1]));
                var userId = tokenPayload["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"];
                var username = tokenPayload["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/emailaddress"];
                $('#userId').val(userId);
                $('#username').val(username);
            
            }
            $('#imageInput').change(function () {
                uploadImage(); // Gọi hàm uploadImage() khi có thay đổi trong input file
            });
          
            $('#addBlogForm').submit(function (event) {
                event.preventDefault(); 

               
                var formData = {
                    title: $('#title').val(),
                    content: CKEDITOR.instances.content.getData(), 
                    createdAt: $('#createdAt').val(),
                    userId: $('#userId').val(),
                    username: $('#username').val(),
                    imageUrl: $('#imageUrl').val(),
                    slug: $('#slug').val(),
                };

        
                $.ajax({
                    url: 'http://localhost:5233/api/Products',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(formData),
                    success: function (data) {
                        alert('Blog đã được thêm thành công!');
                     
                        window.location.href = 'http://localhost:5236/Home/HangHoa';
                    },
                    error: function (xhr, status, error) {
                        console.error('Đã xảy ra lỗi:', error);
                        alert('Có lỗi xảy ra khi thêm blog!');
                    }
                });
            });
        });


        function uploadImage() {
            const fileInput = document.getElementById('imageInput');
            const file = fileInput.files[0];

            if (!file) {
                alert('Vui lòng chọn một hình ảnh.');
                return;
            }

            const formData = new FormData();
            formData.append('file', file);

            $.ajax({
                url: 'http://localhost:5233/api/Products/upload',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (data) {
                
                    $('#imageUrl').val(data.url);
                    $('#imagePreview').attr('src', data.url);
                    $('#imageContainer').show();
                },
                error: function (xhr, status, error) {
                    console.error('Lỗi khi tải lên hình ảnh:', error);
                    alert('Đã xảy ra lỗi khi tải lên hình ảnh.');
                }
            });
        }
    </script>
</body>
</html>

