<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
     #content{
            font-size: 19px;
            /* margin-top: 0; */
            /* margin-bottom: 1rem; */
            /* color: black; */
            font-weight: 400;
            margin: 0 0 20px;
            line-height: 32px;
            font-family: "Noto Serif", Regular, Times New Roman;
     }
        /* Thiết lập chiều rộng tối đa và căn giữa phần tử chính */
        .main-contentt {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            max-width: auto;
            width: 100%; /* Đảm bảo phần tử chính chiếm toàn bộ chiều rộng tối đa của nó */
            margin: 20px 0; /* Khoảng cách trên dưới để tạo không gian xung quanh */
            padding: 20px;
        }

      
        /* Thêm kích thước cố định và thanh cuộn cho danh sách comment */
        .comment-list {
            max-height: 400px;
            overflow-y: auto; /* Tạo thanh cuộn khi cần */
        }

        /* Đảm bảo phần tử cha của danh sách comment cũng có thanh cuộn */
        .comment-wrap {
            overflow: auto;
        }


        .notification {
            position: fixed;
            top: 20px;
            right: 20px;
            padding: 10px;
            background-color: #214252;
            color: #fff;
            border-radius: 5px;
            display: none; /* Ẩn phần tử ban đầu */
        }

        #title {
            font-weight: bold;
        }

        .hidden {
            display: none;
        }

        #description {
            font-style: italic;
            color: white;
        }

        .custom-avatar {
            width: 45px !important;
            height: 45px;
            border-radius: 50%;
            object-fit: cover;
        }

        .mt-1
        img, #avatarUrl{
            width: 45px !important;
        }
        .row.same-height {
            text-align: left; /* Đặt căn lề trái cho tất cả các phần tử con */
        }

        p {
            margin-top: 0;
            margin-bottom: 1rem;
            /*  color: black; */
        }

        h2, .h2 {
            font-size: 2rem;
            font-weight: bold;
            color: black;
        }

        .mt-1 {
            margin-top: 0.25rem !important;
            font-weight: 600;
            color: black;
            font-weight: 100;
        }

        .mt-2 {
            margin-top: 0.5rem !important;
            font-weight: bold;
            color: black;
        }

        img, svg {
            vertical-align: middle;
            /* width: 861px !important; */
            width: -webkit-fill-available !important;
        }
    </style>
</head>
<body>
    <div id="notification" class="notification"></div>
    <div id="coverImage" class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('');">

        <div class="container">
            <div class="row same-height justify-content-left">
                <div class="col-md-12">
                    <div class="post-entry text-left">
                        <span class="d-inline-block mt-1" id="categoryId" style="color :white;"></span>
                        <div style="height: 25px;"></div>
                        <h1 id="title" class="mb-4"></h1>

                        <div class="post-meta align-items-center text-left">
                            @*    <figure class="author-figure mb-0 me-3 d-inline-block"><img src="images/person_1.jpg" alt="Image" class="img-fluid"></figure>
                            @*  <span class="d-inline-block mt-1">By Carl Atkinson</span>
                            @*  <span>&nbsp;-&nbsp; February 10, 2019</span> *@
                            <span id="description" class="d-inline-block mt-1"></span>
                            @* <span id="userName" class="d-inline-block mt-1"></span>
                            <span id="createdAt"></span> *@


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="section">
        <div class="container">

            <div class="row blog-entries element-animate">


                <div class="post-meta align-items-center text-left">
                    <img src="" alt="Avatar" style="width: 2.5rem; height: 2.5rem; border-radius: 50%; object-fit: cover; " id="avatarUrl">


                    <span class="d-inline-block mt-2" id="userName">
                    </span>
                    <span class="d-inline-block mt-1" id="avatarUrl">
                    </span>
                    <span id="createdAt"></span>
                </div>
                <div>

                </div>
                <div class="col-md-12 col-lg-8 main-content">

                    <div id="content"></div>

                    <span id="blogId" class="hidden"></span>
                    <span id="slug" class="hidden"></span>





                </div>
                <div class="col-md-12 col-lg-4 sidebar">

                    <div class="sidebar-box">
                        <div class="bio text-center" id="bio">
                            <img src="" alt="Avatar" id="avatarUrll" class="img-fluid mb-3">
                            <div class="bio-body">
                                <h2 id="firstName"></h2>
                                <p><a href="#" class="btn btn-primary btn-sm rounded px-2 py-2">Read my bio</a></p>

                            </div>
                        </div>

                    </div>


                </div>
                <div class="col-md-12 col-lg-12 main-contentt">
                    <div class="pt-5 comment-wrap">
                        <h3 class="mb-5 heading">Bình luận (<span id="commentCount">0</span>)</h3>
                        <p id="noCommentsMessage" style="display: none;">Bài viết chưa có bình luận nào, hãy là người đầu tiên bình luận.</p>
                        <ul class="comment-list" id="commentList">
                            <!-- Comment items will be appended here -->
                        </ul>
                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Hãy chia sẻ cảm nghĩ của bạn về bài viết</h3>
                            <form id="commentForm" class="p-5 bg-light">
                                <div class="form-group">
                                    <label for="message">Nhập cảm nghĩ của bạn</label>
                                    <textarea id="commentContent" cols="30" rows="10" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Gửi bình luận" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- END main-content -->
                    <!-- END sidebar -->

                </div>
            </div>
        </div>
    </section>


    <!-- Start posts-entry -->
    <section class="section posts-entry posts-entry-sm bg-light">
        <div class="container">
            <div class="row mb-4">
                <div class="col-12 text-uppercase text-black">More Blog Posts</div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="blog-entry">
                        <a href="single.html" class="img-link">
                            <img src="images/img_1_horizontal.jpg" alt="Image" class="img-fluid">
                        </a>
                        <span class="date">Apr. 14th, 2022</span>
                        <h2><a href="single.html">Thought you loved Python? Wait until you meet Rust</a></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p><a href="#" class="read-more">Continue Reading</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="blog-entry">
                        <a href="single.html" class="img-link">
                            <img src="images/img_2_horizontal.jpg" alt="Image" class="img-fluid">
                        </a>
                        <span class="date">Apr. 14th, 2022</span>
                        <h2><a href="single.html">Startup vs corporate: What job suits you best?</a></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p><a href="#" class="read-more">Continue Reading</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="blog-entry">
                        <a href="single.html" class="img-link">
                            <img src="images/img_3_horizontal.jpg" alt="Image" class="img-fluid">
                        </a>
                        <span class="date">Apr. 14th, 2022</span>
                        <h2><a href="single.html">UK sees highest inflation in 30 years</a></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p><a href="#" class="read-more">Continue Reading</a></p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="blog-entry">
                        <a href="single.html" class="img-link">
                            <img src="images/img_4_horizontal.jpg" alt="Image" class="img-fluid">
                        </a>
                        <span class="date">Apr. 14th, 2022</span>
                        <h2><a href="single.html">Don’t assume your user data in the cloud is safe</a></h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        <p><a href="#" class="read-more">Continue Reading</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    @Html.Partial("_FooterPartial")
    <script>
        $(document).ready(function () {
            // Gửi comment khi người dùng nhấn nút gửi
            $('#commentForm').submit(function (event) {
                event.preventDefault(); // Ngăn chặn việc gửi biểu mẫu một cách truyền thống

                var commentContent = $('#commentContent').val();
                var slug = $('#slug').text(); // Lấy slug từ trường ẩn
                var currentUser = getUserFromToken(localStorage.getItem('token')); // Lấy thông tin người dùng từ token

                // Tạo đối tượng comment từ dữ liệu nhập vào và thông tin người dùng
                var newComment = {
                    userId: currentUser.userId,
                    firstName: currentUser.firstName,
                    avatarUrl: currentUser.avatarUrl,
                    content: commentContent
                };

                // Gửi dữ liệu comment đến server
                $.ajax({
                    type: 'POST',
                    url: 'http://localhost:5233/api/Products/' + slug + '/comments', // Đặt URL tương ứng với endpoint của server
                    contentType: 'application/json',
                    data: JSON.stringify(newComment),
                    success: function (response) {
                        // Nếu gửi comment thành công, cập nhật lại danh sách comment
                        fetchComments(); // Gọi hàm fetchComments để lấy danh sách comment mới

                        // Hiển thị thông báo thành công
                        showNotification('thành công!', 'success', 'comment');
                    },
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText); // Hiển thị lỗi nếu có
                        showNotification('thất bại!', 'error', 'comment');
                    }
                });

                // Xóa nội dung comment sau khi gửi
                $('#commentContent').val('');
            });




            // Hàm để lấy và hiển thị danh sách comment từ server
            function fetchComments() {
                var blogId = $('#blogId').text(); // Lấy blogId từ trường ẩn

                $.get('http://localhost:5233/api/Products/' + blogId + '/comments', function (comments) {
                    // Xóa toàn bộ danh sách comment hiện tại
                    $('#commentList').empty();

                    // Đếm số lượng bình luận
                    var commentCount = comments.length;
                    $('#commentCount').text(commentCount);

                    if (commentCount === 0) {
                        $('#noCommentsMessage').show();
                    } else {
                        $('#noCommentsMessage').hide();

                        // Thêm từng comment vào danh sách
                        comments.forEach(function (comment) {
                            var commentHtml = '<li class="comment">';
                            commentHtml += '<div class="vcard"><img src="' + comment.avatarUrl + '" alt="Image placeholder"></div>';
                            commentHtml += '<div class="comment-body">';
                            commentHtml += '<h3>' + comment.firstName + '</h3>';
                            commentHtml += '<div class="meta">' + new Date(comment.createdAt).toLocaleString() + '</div>';
                            commentHtml += '<p>' + comment.content + '</p>';
                            commentHtml += '<p><a href="#" class="reply rounded">Reply</a></p>';
                            commentHtml += '</div></li>';

                            // Thêm comment vào danh sách
                            $('#commentList').append(commentHtml);
                        });
                    }
                });
            }

            // Hàm để lấy chi tiết blog và sau đó gọi fetchComments
            function fetchBlogDetails() {
                // Extract the blog ID from the URL
                var urlParams = new URLSearchParams(window.location.search);
                var slug = urlParams.get('slug');

                $.get('http://localhost:5233/api/Products/' + slug, function (data) {
                    // Kiểm tra nếu bài viết không phải là public và người dùng hiện tại không phải là chủ sở hữu
                    var currentUser = getUserFromToken(localStorage.getItem('token'));
                    if (!data.isPublic && (!currentUser || currentUser.userId !== data.userId)) {
                        alert('Bạn không có quyền xem nội dung này.');
                        window.location.href = '/'; // Điều hướng người dùng về trang chủ hoặc trang khác
                        return;
                    }

                    // Lấy blogId từ dữ liệu trả về
                    var blogId = data.blogId;
                    $('#blogId').text(blogId); // Hiển thị blogId nếu cần thiết

                    // Tiếp tục hiển thị thông tin bài viết nếu người dùng có quyền truy cập
                    $('#slug').text(data.slug); // Sử dụng .val() để đặt giá trị slug vào input ẩn
                    $('#title').text(data.title);
                    $('#imageUrl').text(data.imageUrl);
                    $('#description').text(data.description);


                    // Sử dụng categoryName để hiển thị tên danh mục
                    $('#categoryId').text(data.categoryId);
                    var createdAt = new Date(data.createdAt);
                    var formattedCreatedAt = " - " + createdAt.getDate() + " tháng " + (createdAt.getMonth() + 1) + " năm " + createdAt.getFullYear();
                    $('#createdAt').text(formattedCreatedAt); // Set formatted Created At text

                    $('#userName').text(data.firstName);
                    $('#firstName').text(data.firstName);

                    $('#content').html(data.content);
                    $('#avatarUrl').attr('src', data.avatarUrl);
                    $('#avatarUrl').click(function () {
                        // Lấy userId từ thuộc tính data-userId của hình đại diện
                        var userId = data.userId

                        // Chuyển hướng người dùng đến trang UserProfile với userId truyền qua URL
                        window.location.href = 'http://localhost:5236/Account/UserProfile?userId=' + userId;
                    });
                    $('#avatarUrll').attr('src', data.avatarUrl);
                    $('#avatarUrll').click(function () {
                        // Lấy userId từ thuộc tính data-userId của hình đại diện
                        var userId = data.userId

                        // Chuyển hướng người dùng đến trang UserProfile với userId truyền qua URL
                        window.location.href = 'http://localhost:5236/Account/UserProfile?userId=' + userId;
                    });
                    // Trong hàm fetchBlogDetails
                    $('#coverImage').css('background-image', 'url(' + data.imageUrl + ')');

                    // Sau khi lấy chi tiết blog xong, gọi fetchComments để lấy danh sách comment
                    fetchComments();
                    var categoryId = data.categoryId;
                    // Gửi yêu cầu AJAX để lấy tên danh mục từ categoryId
                    $.get('http://localhost:5233/api/Category/' + categoryId, function (category) {
                        $('#categoryId').text(category.name); // Hiển thị tên danh mục
                    });
                });
            }

            // Call the fetchBlogDetails function when the page loads
            fetchBlogDetails();
        });

        function getUserFromToken(token) {
            // Giải mã token để lấy thông tin người dùng
            var tokenPayload = JSON.parse(atob(token.split('.')[1]));
            return {
                userId: tokenPayload["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier"],
                userName: tokenPayload["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name"],
                firstName: decodeURIComponent(escape(tokenPayload["http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname"])),
                avatarUrl: tokenPayload["AvatarUrl"],
                // Các thông tin khác của người dùng có thể lấy từ token
            };
        }

        function showNotification(message, type, action) {
            var actionText = '';
            if (action === 'save') {
                actionText = 'Lưu bài viết';
            } else if (action === 'unsave') {
                actionText = 'Bỏ lưu bài viết';
            } else if (action === 'comment') {
                actionText = 'Bình luận';
            }

            var notification = $('<div class="notification"></div>');
            notification.text(actionText + ' ' + message);
            notification.addClass(type);

            if ($('.notification').length >= 1) {
                $('.notification:first').remove();
            }

            $('body').append(notification);

            notification.fadeIn().delay(3000).fadeOut(function () {
                $(this).remove();
            });
        }

    </script>

</body>
</html>