<style>	
	.post-entry-sidebar ul li a img, .post-entry-footer ul li a img {
		width: 118px !important;
		height: 100px !important;
	}
</style>
<footer class="site-footer">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">Về Chúng Tôi</h3>
					<p>Được thành lập vào 2024, từ một mạng xã hội chia sẻ quan điểm, kiến thức và thảo luận,  đã phát triển một hệ sinh thái lớn mạnh, đa nền tảng, với mục tiêu hỗ trợ và kết nối các cá nhân/nhóm tri thức trong xã hội..</p>
				</div> <!-- /.widget -->
				<div class="widget">
					<h3>Mạng Xã Hội</h3>
					<ul class="list-unstyled social">
						<li><a href="#"><span class="icon-instagram"></span></a></li>
						<li><a href="#"><span class="icon-twitter"></span></a></li>
						<li><a href="#"><span class="icon-facebook"></span></a></li>
						<li><a href="#"><span class="icon-linkedin"></span></a></li>
						<li><a href="#"><span class="icon-pinterest"></span></a></li>
						<li><a href="#"><span class="icon-dribbble"></span></a></li>
					</ul>
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4 ps-lg-5">
				<div class="widget">
					<h3 class="mb-4">Công Ty</h3>
					<ul class="list-unstyled float-start links">
						<li><a href="#">About us</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Vision</a></li>
						<li><a href="#">Mission</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy</a></li>
					</ul>
					<ul class="list-unstyled float-start links">
						<li><a href="#">Partners</a></li>
						<li><a href="#">Business</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Creative</a></li>
					</ul>
				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
			<div class="col-lg-4">
				<div class="widget">
					<h3 class="mb-4">Các Bài Viết Mới</h3>
					<div class="post-entry-footer">
						<ul>
							<li>
								<a href="">
									<img src="https://i.imgur.com/mfTpaPs.png" alt="Image placeholder" class="me-4 rounded">
									<div class="text">
										<h4 href="http://localhost:5236/Home/single?slug=a-638514938378596889">"Hướng nội" sao cho đúng?</h4>
										<div class="post-meta">
											<span class="mr-2">tháng 6 1, 2024 </span>
										</div>
									</div>
								</a>
							</li>
							<li>
								<a href="http://localhost:5236/Home/single?slug=thien-kien-ke-song-sot.">
									<img src="https://i.imgur.com/3NbLGJL.png" alt="Image placeholder" class="me-4 rounded">
									<div class="text">
										<h4>Thiên kiến kẻ sống sót.</h4>
										<div class="post-meta">
											<span class="mr-2">tháng 5 15, 2024 </span>
										</div>
									</div>
								</a>
							</li>
							
						</ul>
					</div>


				</div> <!-- /.widget -->
			</div> <!-- /.col-lg-4 -->
		</div> <!-- /.row -->

		<div class="row mt-5">
			<div class="col-12 text-center">
				<!--
					**==========
					NOTE:
					Please don't remove this copyright link unless you buy the license here https://untree.co/license/
					**==========
				  -->

				<p>
					Bản quyền;<script>document.write(new Date().getFullYear());</script>. Không được sao chép. &mdash; Web được làm bởi nhóm LPA <a href="https://untree.co">LPA.Com</a>
				</p>
			</div>
		</div>
	</div> <!-- /.container -->
</footer> <!-- /.site-footer -->
<!-- Preloader -->
<div id="overlayer"></div>
<div class="loader">
	<div class="spinner-border text-primary" role="status">
		<span class="visually-hidden">Loading...</span>
	</div>
</div>